  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fe2348;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 20px  20px ;
    text-decoration: none;
    font-size: 15px;
    color: #f1f1f1;
    display: block;
    text-align: center;
  }
  
  .sidenav a:hover {
    color: white;
    text-decoration: none;
    background: #fe4e6c;
    border: 0.5px solid #dd1350;
    position: relative;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


    
