.card {
  border-color: transparent;
  transition: all 1s linear;
}
.card-footer {
  background: transparent;
  border-top: transparent;
  transition: all 1s linear;
}

.card-footer:hover {
  background: rgba(247, 247, 247);
}

.img-container {
  position: relative;
  overflow: hidden;
  transform: scale(1.5);
}
.card-img-top {
  transition: all 1s linear;
}

