:root{
  --mainRad:#fe2348;
  --mainBlue:#2699fb;
  --mainWhite:#f3f3f3;
  /* #fe4e6c */
}

body{
  /* font-family: 'Roboto', sans-serif !important; */
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainBlue) !important;
}
.text-sidebar{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: var(--mainWhite);
}
.main{
  margin-left: 20vw;
}