:root{
  --mainRad:#fe2348;
  --mainBlue:#2699fb;
  --mainWhite:#f3f3f3;
  /* #fe4e6c */
}

body{
  /* font-family: 'Roboto', sans-serif !important; */
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainBlue) !important;
}
.text-sidebar{
  text-transform: uppercase;
  color: var(--mainWhite);
}
.main{
  margin-left: 15vw;
}

.main div {
  display: flex;
  flex-flow: row wrap;
}

.user-card {
  border: 1px solid black;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.user-card img,
.user-card div {
  display: block;
  width: 100%;
}

.user-card div {
  margin: 0.5rem;
}